<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liste des Skylanders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Skylanders</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let skylander of listeSkylanders">
    <ion-row>
      <ion-col>
        <ion-card>

          <ion-card-header>
            <ion-card-title>{{ skylander.Nom }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img [src]="skylander.Image" width="120" height="100" >
            <p>{{ skylander.Espece }}</p>
            <p>{{ skylander.Role }}</p>
            <img [src]="skylander.Element" width="60" height="50">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
